path:hover {
  fill: #bac8a0;
  cursor: pointer;
  transition: 200ms;
  outline: none;
}
path:not(:hover) {
  transition: 400ms;
  outline: none;
}
.info {
  background-color: #5b8982;
}
#flagImage {
  display: block;
}
#titleOfInfo {
  text-align: center;
  margin-top: 10px;
  margin-left: 15px;
  color: #ffffff;
}
.flagNameTime {
  justify-content: space-between;
  display: flex;
  margin: 15px 20px;
}
#time {
  font-size: 45px;
  color: #ffffff;
  text-align: right;
}
#description {
  font-size: 20px;
  margin: 15px 20px;
  color: #ffffff;
}
.descDIV {
  overflow: scroll;
  height: 750px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* #797367 #cec6b6 #45545F */

/* #5b8982 #ffffff #bac8a0 */

.react-transform-component {
  width: 100% !important;
  height: 100% !important;
}
.react-transform-element {
  width: 100% !important;
  height: 100% !important;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

@media (max-width: 760px) {
  .colMap {
    height: 400px;
  }
  #time {
    font-size: 70px;
  }
  #fullInfo{
    height: 250px;
  }
}
@media (max-width: 550px) {
  #time {
    font-size: 40px;
  }
}
